body{
    font-family: 'Poppins', sans-serif;
    background-color: #082d63;
    color:#fdfdfd
}

/* navbar css starts here  */
.bg-light{ background-color:  rgb(20, 182, 165) !important;
    /* background-color: #f2e9e4!important; */
}

.navbar-brand{
    /* font-family: 'Sansita Swashed', cursive; */
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    
    color: rgb(255, 255, 255)   !important;
}
.nav-text{
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}
.nav-link{margin: 5px;
    color: rgb(10, 53, 114)!important;
    font-family: 'Times New Roman', Times, serif;
}

#nl2 ,.nav-link:hover{border-radius: 7px!important;
    background-color: rgba(10, 53, 114);
}
.logo{
    position: relative;
    width: 4%;
    height: 4%;
    /* background-color: #f2e9e4; */
}
.navebar-toggler-icon, .navbar-toggler, .collapsed{
    color:#f2e9e4;
    background-color: #f2e9e4;
}
.collapsed:hover{
    color:#f2e9e4;
    background-color: #f2e9e4;
}
/* navbar css ends here  */


.my-info{
    padding: 2rem 5rem;
}

.modal-content{
    background-color: #43a3cc;
}

.btn-success.custom-file-control:before, .btn.btn-success {
    color: #00ff04;
    background-color: transparent;
    border-color: #ccc;
}

.btn-info{
    padding: 1rem 1.2rem;
    background-color: rgb(20, 109, 182)!important;
    color: #fff!important;
    margin-left: 5px;
    padding: 0.75rem;
    transition: all 0.3s;
}

.btn-info:hover{
    background-color: rgb(20, 109, 182)!important;
}

.table-success{
    background-color: #fcfcfc!important;
    color: #000000;
}
.table-success, .table-success>td, .table-success>th {
    background-color: #ffffff;
}

#enterName.form-control, #enterAmount.form-control, .input-group-text, #bt1{
    color: #fff;
}

.table-hover .table-success:hover, .table-hover .table-success:hover>td, .table-hover .table-success:hover>th {
    background-color: #9ef0c7;
}
footer{
    background-color:  rgb(20, 182, 165);
}

.social-icons li{
    list-style: none;
    display: inline;
    padding: 0.5rem;
}

.linkedin{
    color: #080a49;
}
